<link  rel="stylesheet" href="/css/login.css">
<div class="container">
  <form class="form-signin" action="/login_completed" method="post">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr/>
        <a class="btn btn-sm btn-success btn-block" href="/register">Sign up</a>
        <hr/>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
 
</div>