body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
}
p {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  clear: both;
}

.title {
  font-size: 36px;
  text-align: center;
}
.line {
  border-bottom: 1px #ccc solid;
  padding: 5px 0;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

.login {
  width: 200px;
  margin: 0 auto;
  border: 1px #ccc solid;
  padding: 10px;
}
