body {
  background-color: white;
}
.container {
  margin: 0;
  padding: 0;
  clear: both;
}
.myform {
  width: 650px;
  margin: 0 auto;
}

.myform legend {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

label {
  width: 130px;
  display: inline-block;
}
.from-control {
  width: 400px;
}
.from-group {
  margin: 5px;
  padding: 5px;
  height: 20px;
}
.from-group-textarea {
  margin: 5px;
  padding: 5px;
}
.from-group-textarea label {
  vertical-align: top;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}
