body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
  font-size: 18px;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 800px;
  clear: both;
}

img.tn {
  width: 50px;
  height: 50px;
  float: left;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

.card {
  width: 50%;
  float: left;
}
.card img {
  width: 180px;
  height: 180px;
  float: left;
  padding: 20px;
}
.card ul {
  margin-top: 30px;
}
.card ul li {
  list-style: none;
  display: block;
}

.smlink {
  font-size: 13px;
}

.topmenu {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 15px;
  text-align: center;
}
#search {
  background: url(../images/s.png) no-repeat right center;
  width: 420px;
  border: 1px solid #ccc;
  height: 30px;
}
h1.menu {
  display: inline-block;
  font-size: 16px;
}
