body {
  background-color: white;
}
.container {
  margin: 0;
  padding: 0;
  clear: both;
}
.header,
.footer {
  background-color: black;
  padding: 20px;
  color: white;
}
.menu,
.content {
  float: left;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
}
.menu {
  width: 20%;
  border: 1px solid #000;
}
.content {
  width: 80%;
  border: 1px solid #000;
  border-left: none;
}
