<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Salary</th>
        <th>Role</th>
    </thead>
    <tbody>
        <% data.map((person)=>{%>
            <tr>
                <td>
                    <%= person.id %>
                </td>
                <td>
                    <%= person.firstname %>
                </td>
                <td>
                    <%= person.lastname %>
                </td>
                <td>
                    <%= person.salary %>
                </td>
                <td>
                    <%= person.role %>
                </td>
            </tr>
            <% })%>
    </tbody>
</table>