<div class="logo">
    CodeCamp Thailand
</div>

<ul class="nav">
    <!-- 
    <li>
        <a href="dashboard.html">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="user.html">
            <i class="ti-user"></i>
            <p>User Profile</p>
        </a>
    </li> 
    -->
    <li class="active">
        <a href="/">
            <i class="ti-view-list-alt"></i>
            <p>Employee data</p>
        </a>
    </li>
    <!-- 
    <li>
        <a href="typography.html">
            <i class="ti-text"></i>
            <p>Typography</p>
        </a>
    </li>
    <li>
        <a href="icons.html">
            <i class="ti-pencil-alt2"></i>
            <p>Icons</p>
        </a>
    </li>
    <li>
        <a href="maps.html">
            <i class="ti-map"></i>
            <p>Maps</p>
        </a>
    </li>
    <li>
        <a href="notifications.html">
            <i class="ti-bell"></i>
            <p>Notifications</p>
        </a>
    </li>
    <li class="active-pro">
        <a href="upgrade.html">
            <i class="ti-export"></i>
            <p>Upgrade to PRO</p>
        </a>
    </li> 
    -->
</ul>