Hi
<%- name %>
    <% if(logined){ %>
        <br>
        <a href="/auth/signout">logout</a>
        <% }else{ %>
            <br>
            <a href="/auth/signup">sign up</a>
            <a href="/auth/signin">sign in</a>
            <% }%>