Please login
<br>
<form action="/auth/signin" method="post">
    Username:
    <input type="text" name="username">
    <br> Password:
    <input type="password" name="password" id="password">
    <br>
    <input type="submit">
</form>
<a href="/">home</a>
<a href="/auth/signup">signup</a>