Register
<br>
<form action="<%- baseUrl %>register_completed" method="post" onsubmit="return false">
    Username:
    <input type="text" name="username" id="username">
    <br> Password:
    <input type="password" name="password" id="password">
    <br> Confirm-Password:
    <input type="password" name="password_confirm" id="password_confirm">
    <br> Email:
    <input type="text" name="email" id="email">
    <br>

    <input type="submit" onclick="mySubmit()">
</form>
<a href="/">home</a>
<a href="/auth/signin">sign in</a>
<div id="errorMessage" style="color:red; font-weight: bold"></div>

<script>
    async function mySubmit() {
        if ($('#password').val() != $('#password_confirm').val()) {
            alert("Password not match!");
            $('#password_confirm').focus();
            return false;
        }

        let response = await fetch('/register_completed_ajax', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify({
                username: $('#username').val(),
                password: $('#password').val(),
                email: $('#email').val()
            }),
            headers: new Headers({
                'Content-Type': 'application/json'
            })
        });

        let json = await response.json();
        let message = '';
        if (json.emailExisted)
            message += "Email already existed in database<br>";
        if (json.usernameExisted)
            message += "Username already existed in database<br>"

        if (message != '')
            $('#errorMessage').html(message);
        else {
            alert('You registered successful!');
            window.location.href = "/login";
        }

        /*fetch('/register_completed_ajax', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify({
                username: $('#username').val(),
                password: $('#password').val(),
                email: $('#email').val()
            }), 
            headers: new Headers({
                'Content-Type': 'application/json'
            })
        }).then(function(response) {
            return response.json();
        }).then(function(json) {
            //alert(json.emailExisted);

            let message = '';
            if (json.emailExisted)
                message += "Email already existed in database<br>";
            if (json.usernameExisted)
                message += "Username already existed in database<br>"
            
            if (message != '')
                $('#errorMessage').html(message);
            else {
                alert('You registered successful!');
                window.location.href = "/login";
            }
                
        });*/
        return false;
    }
</script>