<% if (usernameExisted) { %>
    Username
    <%- username %> has been already been in database.
        <br>
        <% } %>
            <% if (emailExisted) { %>
                Email
                <%- email %> has been already been in database.
                    <br>
                    <% } %>
                        <% if (!usernameExisted && !emailExisted) { %>
                            <%- username %> has been registered successfully and user id is
                                <%- userId %>.
                                    <br>
                                    <% } %>