<html>

<head>
  <title>koa ejs</title>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  Template Header
  <br>
  <br>
  <%- body %>
    <br>
    <br>Template Footer
</body>

</html>