Username:
<%- userRow.username %>
    <br> Email:
    <%- userRow.email %>
        <br> Register date and time:
        <%- userRow.register_time %>
            <br>
            <a href="/">home</a>
            <a href="/auth/signout">Log out</a>