.logo {
  float: left;
}
.logo > img {
  height: 53px;
  padding: 2px;
  margin: 0 10px 0 0;
  background-color: white;
}
.mobilelogo > img {
  height: 150px;
  padding: 0;
  margin: 0 auto;
}
.logotext {
  font-size: 26px;
  margin-left: 50px;
  margin-top: 16px;
}

.topbar {
}
.globe {
  padding: 8px;
  font-size: 16px;
  line-height: 19px;
}

.navbar {
  margin-bottom: 1px;
}

.cartbar {
  line-height: 24px;
}

.pitem {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
  width: fit-content;
}
.pname {
  font-size: 24px;
}
.pitem img {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.pprice {
}
.pprice button {
  margin-left: 5px;
}
.pitem button {
  float: right;
}
.product {
  margin: 0 auto;
}
.pitem i {
  padding: 1px 5px;
}
