body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
}
p {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  clear: both;
}

.nav {
  margin-left: 250px;
  margin-bottom: 20px;
}
.menu {
}
.menu li {
  padding: 5px 10px;
  border: 1px solid #ccc;
  list-style: none;
  width: 100px;
  float: left;
  margin: 2px;
  text-align: center;
}
.line {
  border-bottom: 1px #ccc solid;
  padding: 5px 0;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.center {
  text-align: center;
}

.news,
.annc {
  width: 30%;
  float: left;
  padding-left: 50px;
  margin-left: 70px;
}

.annc {
  border-left: 2px #ccc solid;
}

.doc {
  width: 960px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
}

.footer {
  padding: 10px;
}
.pad20 {
  padding: 20px 0;
}

.martop20 {
  margin-top: 20px;
}
