body {
  background-color: white;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
}
.myform {
  width: 650px;
  margin: 0 auto;
}

.myform legend {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

label {
  width: 130px;
  display: inline-block;
}
.from-control {
  width: 400px;
}
.from-group {
  margin: 5px;
  padding: 5px;
  height: 20px;
}
.from-group-textarea {
  margin: 5px;
  padding: 5px;
}
.from-group-textarea label {
  vertical-align: top;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  width: 1300px;
}

.card {
  background: #4786ffc9;
  padding: 10px;
  width: 290px;
  height: 500px;
  margin: 5px;
  margin-top: 20px;
  text-align: center;
}

.card img {
  border-radius: 50%;
}

footer {
  width: 310px;
  height: 40px;
  background-color: wheat;
  color: rebeccapurple;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 32px;
  position: absolute;
  margin-left: -10px;
  margin-top: 23px;
}
