body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 24px;
  font-size: 18px;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  clear: both;
}

img.tn {
  width: 120px;
  height: 120px;
  float: left;
  border-radius: 50%;
}

.btn {
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
}

.card {
  width: 50%;
  float: left;
}
.card img {
  width: 180px;
  height: 180px;
  float: left;
  padding: 20px;
}
.card ul {
  margin-top: 30px;
}
.card ul li {
  list-style: none;
  display: block;
}

.smlink {
  font-size: 13px;
}

.topmenu {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 15px;
  text-align: center;
}
#search {
  background: url(../images/s.png) no-repeat right center;
  width: 420px;
  border: 1px solid #ccc;
  height: 30px;
}
h1.menu {
  display: inline-block;
  font-size: 16px;
}

.skill1,
.skill2 {
  float: left;
  width: 43%;
}

.skill2 {
  border-left: 1px solid #ccc;
  padding-left: 60px;
}

.skill1 {
  padding-left: 5px;
}

.cls {
  clear: both;
}

.header img,
.header h1,
.header h2 {
  float: left;
}
.header h1 {
  padding: 0;
  line-height: 20px;
  margin: 20px;
}
.header h2 {
  line-height: 16px;
  font-size: 16px;
  margin: 28px 0;
  padding: 0;
}
.header div {
  float: left;
  margin-left: 20px;
}
