@import "~antd/dist/antd.min.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chatbox{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: white;
  border-top: 1px solid #000;
  left: 0;
}
.aright{
  float:right;
  clear: both;
  text-align: right;
  width: 100%;
}
.aleft{
  float:left;
  clear: both;
  text-align: left;
  width: 100%;
}
.ant-card-body{
  position: fixed;
  width: 100%;
  bottom: 40px;
}