Hello, Please login<br>
<form action="/check_login" method="post">
    username: <input type="text" name="username"><br>
    password: <input type="password" name="password"><br>
    <input type="submit">
</form>