.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #367279;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 0px;
}
.custom-card p {
  color: #999;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #367279;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 0px;
}
.custom-card p {
  color: #999;
}